body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.main {
    background-color: #EF7C8E;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.valid {
    height: 60px;
    width: 60px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;

}

.test {
    height: 60px;
    width: 60px;
    border: 5px solid red;
    box-sizing: border-box;
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 2px solid #9c998d;
    background-color: #cecab7;
    box-sizing: border-box;

    transition: all 150ms linear;
}

#grid {
    /*height: 600px;*/
    /*width: 600px;*/
    /*display: flex;*/
    flex-wrap: wrap;
    background-color: #dcd6bc;
    border: 10px solid #dcd6bc;
    display: none;
}

.gameInp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: #FAE8E0;
    border: 5px solid #D8A7B1;
    border-radius: 30px;
}

.input-group {
    position: relative;
    margin: 30px;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid #D8A7B1;
    width: 100px;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px , 10px);
    transition: transform .25s;
}
.input:focus+.input-label,
.input:valid+.input-label{
    transform: translate(10px, -14px) scale(.8);
    padding-inline: 5px;
    background-color: #FAE8E0;
}
.input:is(:focus, :valid){
    outline-color: #9c998d;
}

#grid2 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    border: 10px solid #dcd6bc;
}
